<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169598910850-h94s973cng3u9t31082ubg6ng29ni25a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169598910850-h94s973cng3u9t31082ubg6ng29ni25a</string>
	<key>API_KEY</key>
	<string>AIzaSyDeaeVKMJVgE1hAm62vfTOuNYZXz2XsH2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>169598910850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.mskr.foodcontrol</string>
	<key>PROJECT_ID</key>
	<string>foodcontrol-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>foodcontrol-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169598910850:ios:5884363db6fbbedead4f9b</string>
	<key>DATABASE_URL</key>
	<string>https://foodcontrol-ios.firebaseio.com</string>
</dict>
</plist>